<div *ngIf="accountSummary">

  <h2>Account Summary - Current Holdings</h2>
  <table mat-table [dataSource]="accountSummary.holdings">

    <ng-container matColumnDef="stockSymbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.stockSymbol}} </td>
      <td mat-footer-cell *matFooterCellDef></td>

    </ng-container>>

    <ng-container matColumnDef="stockDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.stockDescription}} </td>
      <td mat-footer-cell *matFooterCellDef>Total Value</td>
    </ng-container>>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.stockPrice?.price}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.stockPrice?.currency}} </td>
      <td mat-footer-cell *matFooterCellDef>GBP</td>
    </ng-container>

    <ng-container matColumnDef="ageInDays">
      <th mat-header-cell *matHeaderCellDef> Price Age (days) </th>
      <td mat-cell class="align-center" *matCellDef="let element"> {{element.stockPrice?.ageInDays}} </td>
      <td mat-footer-cell class="align-center" *matFooterCellDef>{{ accountSummary.totalValue.totalPriceAgeInDays }}</td>
    </ng-container>

    <ng-container matColumnDef="valueInGbp">
      <th mat-header-cell *matHeaderCellDef> Value (GBP)</th>
      <td mat-cell class="align-right" *matCellDef="let element"> {{ element.valueInGbp | number: '1.2' }} </td>
      <td mat-footer-cell class="align-right" *matFooterCellDef>{{ accountSummary.totalValue.valueInGbp | number: '1.2' }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Quality Comment</th>
      <td mat-cell class="align-right" *matCellDef="let element"> {{ element.comment }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="my-foot" mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
</div>
