<div *ngIf="accountSummary">
  <h2>Account Summary - Current Holdings</h2>

  <table mat-table [dataSource]="accountSummary.holdings">
    <ng-container matColumnDef="stockSymbol">
      <th class="small" mat-header-cell *matHeaderCellDef (click)="sort('stockSymbol')">
        Symbol
      </th>
      <td mat-cell *matCellDef="let element">{{ element.stockSymbol }}</td>
      <td mat-footer-cell *matFooterCellDef>£</td>
    </ng-container>

    <ng-container matColumnDef="stockDescription">
      <th class="medium" mat-header-cell *matHeaderCellDef (click)="sort('stockDescription')">
        Description
      </th>
      <td mat-cell *matCellDef="let element">{{ element.stockDescription }}</td>
      <td mat-footer-cell *matFooterCellDef>Cash Balance</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th class="small" mat-header-cell *matHeaderCellDef (click)="sort('quantity')">
        Quantity
      </th>
      <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th class="small" mat-header-cell *matHeaderCellDef (click)="sort('price')">Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th class="small" mat-header-cell *matHeaderCellDef>Currency</th>
      <td mat-cell *matCellDef="let element">
        {{ element.currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef>GBP</td>
    </ng-container>

    <ng-container matColumnDef="ageInDays">
      <th class="small" mat-header-cell *matHeaderCellDef (click)="sort('priceAgeInDays')">Price Age (days)</th>
      <td mat-cell class="align-center" *matCellDef="let element">
        {{ element.priceAgeInDays }}
      </td>
      <td mat-footer-cell class="align-center" *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="valueInGbp">
      <th class="small" mat-header-cell *matHeaderCellDef (click)="sort('valueInGbp')">
        Value (GBP)
      </th>
      <td mat-cell class="align-right" *matCellDef="let element">
        {{ element.valueInGbp | number : "1.2" }}
      </td>
      <td mat-footer-cell class="align-right" *matFooterCellDef>
        {{ accountSummary.cashBalanceInGbp | number : "1.2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th class="small" mat-header-cell *matHeaderCellDef>Quality Comment</th>
      <td mat-cell class="align-right" *matCellDef="let element">
        {{ element.comment }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="my-foot" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <table mat-table >
    <ng-container matColumnDef="stockSymbol">
      <td mat-footer-cell class="small" *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="stockDescription">
      <td mat-footer-cell class="medium" *matFooterCellDef>Total Value</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <td mat-footer-cell class="small" *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <td mat-footer-cell class="small" *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <td mat-footer-cell class="small" *matFooterCellDef>GBP</td>
    </ng-container>

    <ng-container matColumnDef="ageInDays">
      <td mat-footer-cell class="small align-center" *matFooterCellDef>
        {{ accountSummary.totalPriceAgeInDays }}
      </td>
    </ng-container>

    <ng-container matColumnDef="valueInGbp">
      <td mat-footer-cell class="small align-right" *matFooterCellDef>
        {{ accountSummary.totalValueInGbp | number : "1.2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr class="my-foot" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
