<div *ngIf="accountSummary">
  <h2>Account Summary - Current Holdings - as of {{ date }}</h2>
  <!-- add sort icons -->
  <table>
    <thead>
      <th (click)="sort('stockSymbol')">
        Stock Symbol
        <app-sort-indicator
          columnName="stockSymbol"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('stockDescription')">
        Stock Description
        <app-sort-indicator
          columnName="stockDescription"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('quantity')">
        Quantity
        <app-sort-indicator
          columnName="quantity"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('price')">
        Price
        <app-sort-indicator
          columnName="price"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('currency')">
        Currency
        <app-sort-indicator
          columnName="currency"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('originalCurrency')">
        Original Currency
        <app-sort-indicator
          columnName="originalCurrency"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('priceAgeInDays')">
        Price Age (days)
        <app-sort-indicator
          columnName="priceAgeInDays"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th (click)="sort('valueInGbp')">
        Value (GBP)
        <app-sort-indicator
          columnName="valueInGbp"
          [sortColumn]="sortColumn"
          [sortAscending]="sortAscending"
        ></app-sort-indicator>
      </th>
      <th>Comment</th>
    </thead>
    <tbody>
      <tr *ngFor="let holding of accountSummary.holdings">
        <td>{{ holding.stockSymbol }}</td>
        <td>{{ holding.stockDescription }}</td>
        <td>{{ holding.quantity }}</td>
        <td>{{ holding.price }}</td>
        <td>{{ holding.currency }}</td>
        <td>{{ holding.originalCurrency }}</td>
        <td>{{ holding.priceAgeInDays }}</td>
        <td>{{ holding.valueInGbp }}</td>
        <td>{{ holding.comment }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td>Total Value Stocks</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>??</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Cash Balance</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ accountSummary.cashBalanceInGbp }}</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Total Value</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ accountSummary.totalPriceAgeInDays }}</td>
        <td>{{ accountSummary.totalValueInGbp }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
