<div class="flex min-h-screen rounded-xl border bg-background font-mono">
  <div class="relative flex h-screen w-full overflow-hidden">
    <main class="flex flex-1 flex-col">
      <div class="flex-1 overflow-y-auto">


        <app-account-container></app-account-container>
      </div>
    </main>
  </div>
</div>

<!-- <div class="flex flex-col p-6">
   <div class="flex w-full items-center justify-between px-2">
    <h1 class="font-heading font-mono text-2xl font-bold tracking-tight">
      Activity
    </h1>
  </div>

  <div role="main">
     <app-account-container></app-account-container>
  </div>
</div> -->
