<div *ngIf="accountHistoricalValues">

  <h2>Account Historical Values</h2>

  <table mat-table [dataSource]="accountHistoricalValues.accountHistoricalValues">

    <ng-container matColumnDef="date">
      <th class="date-column" mat-header-cell *matHeaderCellDef>Date</th>
      <td class="date-column" mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>

    <ng-container matColumnDef="accountCode">
      <th class="account-column" mat-header-cell *matHeaderCellDef>Account Code</th>
      <td class="account-column" mat-cell *matCellDef="let element">{{element.accountCode}}</td>
    </ng-container>

    <ng-container matColumnDef="valueInGbp">
      <th class="value-column" mat-header-cell *matHeaderCellDef>Value </th>
      <td class="value-column" mat-cell *matCellDef="let element">{{ element.valueInGbp | number: '1.2' }}</td>
    </ng-container>

    <ng-container matColumnDef="totalPriceAgeInDays">
      <th class="price-age-column" mat-header-cell *matHeaderCellDef>Price Age (days)</th>
      <td class="price-age-column" mat-cell *matCellDef="let element">{{element.totalPriceAgeInDays}}</td>
    </ng-container>

    <ng-container matColumnDef="recordedTotalValueInGbp">
      <th class="value-column" mat-header-cell *matHeaderCellDef>Recorded Value</th>
      <td class="value-column" mat-cell *matCellDef="let element">{{ element.recordedTotalValueInGbp | number: '1.2' }}</td>
    </ng-container>

    <ng-container matColumnDef="discrepancyPercentage">
      <th class="percentage-column" mat-header-cell *matHeaderCellDef>Discrepancy</th>
      <td class="percentage-column" mat-cell *matCellDef="let element">{{ element.discrepancyPercentage | number: '1.2' }}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th class="column" mat-header-cell *matHeaderCellDef>Comment</th>
      <td class="column" mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </table>
</div>
