<app-account-selector [accounts]="accounts" (accountChanged)="accountSelected($event)"></app-account-selector>

<app-stock-selector [availableStocks]="availableStocks" (stocksChanged)="onStocksChanged($event)"></app-stock-selector>

<h4>Accounts: {{ portfolio?.accountCodes?.join(', ') }}</h4>

<div class="mb-4 flex flex-wrap items-center gap-x-6 gap-y-2">
  <label class="inline-flex items-center">
    <input type="checkbox" class="form-checkbox" [checked]="(showQualityData$ | async)" (change)="toggleShowQualityData()" />
    <span class="ml-2">Show quality data</span>
  </label>

  <app-date-range-selector
    [overrideRange]="chartRange"
    (rangeChanged)="onRangeChanged($event)">
  </app-date-range-selector>
</div>

<div class="grid grid-cols-3 gap-4 pt-0 min-h-[500px]">

  <div class="col-span-2 flex flex-col">
    <app-history-chart class="h-full" [history]="filteredHistory" [stockHistories]="stockHistories" [dateRange]="dateRange" (rangeSelected)="onChartRangeSelected($event)"></app-history-chart>
  </div>

  @if (portfolio || filteredHistory) {
  <div class="flex flex-col gap-4">
    <app-summary [portfolio]="portfolio"></app-summary>
    <app-trailing-returns [trailingReturns]="filteredHistory?.trailingReturns ?? null" [benchmarkTrailingReturns]="firstStock?.trailingReturns ?? null" [benchmarkName]="firstStock?.stockSymbol ?? null"></app-trailing-returns>
  </div>
  }

</div>

@if (portfolio) {
<div class="pt-6">
  <app-holdings [portfolio]="portfolio" [date]="date"> </app-holdings>
</div>
}

@if (filteredHistory) {
<div class="pt-6">
  <app-history [history]="filteredHistory" [date]="date"> </app-history>
</div>
}
