<app-account-selector [accounts]="accounts" (accountChanged)="accountSelected($event)"></app-account-selector>

<h4>Date: {{ date }}</h4>

<div class="mb-4">
  <label class="inline-flex items-center">
    <input type="checkbox" class="form-checkbox" [checked]="(showQualityData$ | async)" (change)="toggleShowQualityData()" />
    <span class="ml-2">Show quality data</span>
  </label>
</div>

<div class="grid grid-cols-3 gap-4 pt-0">

  <div class="col-span-2 flex flex-col">
    <app-history-chart class="h-full" [history]="history"></app-history-chart>
  </div>

  <div class="flex flex-col">
    <app-summary [portfolio]="portfolio"></app-summary>
  </div>

</div>
<div class="pt-6">
  <app-holdings [portfolio]="portfolio" [date]="date"> </app-holdings>
</div>

<div class="pt-6">
  <app-history [history]="history" [date]="date"> </app-history>
</div>
