


<mat-card appearance="outlined">
  <mat-card-header>
    <app-account-selector [accounts]="accounts" (accountChanged)="accountSelected($event)"></app-account-selector>
    </mat-card-header>
  </mat-card>
  <app-portfolio
    [portfolio]="portfolio"
    [date]="date"
></app-portfolio>

<!--



<form>
  <app-account-selector
    [accounts]="accounts"
    (accountChanged)="accountSelected($event)"
  ></app-account-selector>
  <app-account-summary
    [accountSummary]="accountSummary"
    [date]="date"
  ></app-account-summary>
  <app-account-value-history
    *ngIf="accountHistoricalValues"
    [accountHistoricalValues]="accountHistoricalValues"
    (dateSelected)="dateSelected($event)"
  ></app-account-value-history>
</form> -->
