<div class="light flex flex-col p-6">
  <!-- extract this into a header component -->
  <div class="flex w-full items-center justify-between px-2">
    <h1 class="font-heading font-mono text-2xl font-bold tracking-tight">
      Summary
    </h1>
  </div>

  <div >

    <!-- add sort icons -->

    <div>
      <h3 class="py-4 text-lg font-bold">summary</h3>

      <!-- card -->
      <div class="rounded-lg border bg-card text-card-foreground shadow-sm">
        <!-- card header -->
        <div class="grid grid-cols-6 gap-4 p-6">
          <div class="col-span-2 text-left font-medium text-gray-600" >Stock</div>

        </div>
        <!-- separator -->

        <!-- card content -->

        <div class="pt-0 p-0">

        </div>
      </div>
    </div>
  </div>
</div>
