<gsej-ng-tailwind-card>
  <gsej-ng-tailwind-card-header class="pb-2">
    <div class="flex flex-row items-center justify-between pb-0">
      <gsej-ng-tailwind-card-title class="text-lg font-bold">Total Value</gsej-ng-tailwind-card-title>
      <div class="text-lg font-extrabold">
        {{ formatCurrency(portfolio?.totalValueInGbp) }}
      </div>
    </div>
  </gsej-ng-tailwind-card-header>
  <gsej-ng-tailwind-separator class="mt-2 mb-4" />
  <gsej-ng-tailwind-card-content>
    <div class="flex justify-between">
      <span class="text-gray-600">Investments</span>
      <span class="text-gray-600">{{
        formatCurrency(portfolio?.totalInvestmentsInGbp)
        }}</span>
    </div>
    <div class="flex justify-between">
      <span class="text-gray-600">Cash Balance</span>
      <span class="text-gray-600">{{
        formatCurrency(portfolio?.cashBalanceInGbp)
        }}</span>
    </div>
  </gsej-ng-tailwind-card-content>

  <gsej-ng-tailwind-card-header class="pb-2">
    <div class="flex flex-row items-center justify-between pb-0">
      <gsej-ng-tailwind-card-title class="text-lg font-bold">Allocations</gsej-ng-tailwind-card-title>
    </div>
  </gsej-ng-tailwind-card-header>

  <gsej-ng-tailwind-separator class="mt-2 mb-4" />
  <gsej-ng-tailwind-card-content>

    <div class="grid grid-cols-3 gap-4">
      @for (allocation of portfolio?.allocations; track allocation) {
      <span class="col-span-1 text-gray-600">{{ allocation.name }}</span>
      <span class="col-span-1 text-right text-gray-600">{{ formatCurrency(allocation.value) }}</span>
      <span class="col-span-1 text-right text-gray-600">{{ formatPercentage(allocation.percentage) }}</span>
      }
    </div>

  </gsej-ng-tailwind-card-content>

</gsej-ng-tailwind-card>
